@import url('reset.css');
@import url('mobil.css');

.btn-darkgrey {
    color: aliceblue;
    background-color: darkgrey;
    border-radius: 50px;
    height: 1.5em;
    width: 4em;
    font-size: large;
    font-weight: 600;
    margin: 14px auto;
}

.btn-darkgrey button:hover {
    background-color: #8b8a8a;
}

.warp {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

header {
    width: 100%;
    height: 40px;
    border-bottom: darkgrey 1px solid;
    flex-shrink: 0;
    display: flex;
    justify-content: space-between;
    padding: 0 6px 0 6px;
}

header div {
    margin: 1.75rem 0 0 0;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-shrink: 0;
}

header div.logo {
    min-width: 40%
}

header div.logo img {
    width: 100px;
}

header .search-area {
    margin-bottom: 1rem;
    transition: 2s;
    width: 10%;
    display: flex;

}

header .search-area:hover {
    transition: 2s;
    width: 30%;
}

header .search-area label svg {
    width: 10px;
    margin: 2px;
}

header .search-area:hover label svg {
    transition: 2s;
    fill: aliceblue;
}

header .search-area label {
    width: 14px;
    height: 14px;
    background: darkgrey;
    border-radius: 4px;
}

header .search-area:hover label {
    transition: 2s;
    width: 14px;
    height: 14px;
    background: darkgrey;
    border-radius: 0 4px 4px 0;
}

header .search-area input {
    transition: 2s;
    width: 0;
    height: 14px;
    border-radius: 4px 0 0 4px;
    padding: 0 4px 0 4px;
    font-size: 8px;
    color: aliceblue;
}

header .search-area:hover input {
    transition: 2s;
    width: 90%;
    background: darkgrey;
}

header .search-area:active input:focus {
    transition: 2s;
    width: 90%;
}

header .desktop-menus {

    width: 20%;

}

main {
    width: 100%;
    flex: 1;
    padding: 6px;
    min-height: 100%;
}

footer {
    border-top: darkgrey 1px solid;
    height: 40px;
    width: 100%;
    flex-shrink: 0;
}